html,body {
    padding: 0px;
    margin: 0px;
}

.boxf, #ewsmap,ul {
    border-radius: 25px;
}

#ewsmap {
    width: 949px;
    height: 122px;
    top: -1px;
    position: absolute;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
}

.boxf {
    position: absolute;
    width: 949px;
    height: 121px;
    right: 14px;
    bottom: 14px;
    border-radius: 25px;
}

.ping{
    position: absolute;
    width: 600px;
    top: 15%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
}

ul#log {
    position: absolute;
    width: 830px;
    height: 428px;
    left: 15px;
    bottom: 14px;
}