html {
    background-color: rgb(5, 121, 230);
}

.player,
video,
.video-js,
canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: fill;
    z-index: 1;
}

.judul {
    font-size: 3.0vw;
    z-index: 2;
    color: #FFF;
    position: absolute;
    bottom: 8px;
    left: 10px;
    background-color: rgb(0 0 0 / 50%);
    padding: 0px 10px 0px 10px;
    border-radius: 2.25rem;
}

.menu_player {
    z-index: 3;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

#error {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    z-index: 2;
}

#full1 {
    z-index: 999999;
}