html {
    background-color: rgb(5, 121, 230);
}

.csplayer,
.video-js,
video {
    object-fit: fill;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.judul {
    font-size: 2.5vw;
    z-index: 2;
    color: #FFF;
    position: absolute;
    bottom: 8px;
    left: 10px;
    background-color: rgb(0 0 0 / 50%);
    padding: 0px 10px 0px 10px;
    border-radius: 2.25rem;
}

.menu_player {
    z-index: 3;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

#full1 {
    z-index: 999999;
}